@model WebGUI.Models.Users
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDay)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BirthDay, new { @class = "date" })
            @Html.ValidationMessageFor(model => model.BirthDay)

        </div>
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts {
    @*<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">$(document).ready(function () {
            $('.date').datepicker({ firstDay: 1, dateFormat: 'dd.mm.yy' });
        });</script>
}
